<div class="bg-white p-4 d-flex flex-column flex-md-row align-items-center col-12">

    <img src="https://picsum.photos/1920/1080"
         class="rounded-circle me-md-4 mb-3 mb-md-0"
         width="250"
         height="250">

    <div class="text">

        <h4>
            <strong>This First Heading</strong> Will Catch Your Eye
        </h4>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vivamus lacinia odio vitae vestibulum vestibulum.
            Cras venenatis euismod malesuada.
        </p>

    </div>

</div>