<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-secondary" aria-current="page" href="#">Start Bootsrap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="#">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-secondary" href="#">Services</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-secondary" href="#">Portfolio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-secondary" href="#">Contact</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>