<div class="portfolio py-5">

  <!--Encabezado-->
  <h1 class="fw-bold mb-2">Portfolio</h1>
  <p class="mb-4">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
      Praesent comodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

  <!--Row-->
  <div class="row g-4">

<div class="col-12 col-md-4">
  <img src="../assets/img/big-project-image.png" alt="Project 1" class="img-fluid rounded w-100" />
    <h5 class="title">Project Name</h5>
  <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
</div>

<div class="col-12 col-md-4">
  <img src="../assets/img/big-project-image.png" alt="Project 2" class="img-fluid rounded w-100" />
    <h5 class="title">Project Name</h5>
  <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
</div>

<div class="col-12 col-md-4">
  <img src="../assets/img/big-project-image.png" alt="Project 3" class="img-fluid rounded w-100" />
    <h5 class="title">Project Name</h5>
  <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
</div>

 </div>
</div>
